<configuration>
<configSections>
  <!--Unity 配置-->
  <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/>
</configSections>
<unity>
  <!--Unity Aop 配置-->
   <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Unity.Interception.Configuration"/>
  <containers>
    <container name="bllContainer">
      <register type="YiFlag.IBLL.IBlogManage,YiFlag.IBLL" mapTo="YiFlag.BLL.BlogManage,YiFlag.BLL"/>
      <register type="YiFlag.IBLL.IUserManage,YiFlag.IBLL" mapTo="YiFlag.BLL.UserManage,YiFlag.BLL"/>
      <register type="YiFlag.IDal.IBlogService,YiFlag.IDal" mapTo="YiFlag.Dal.BlogService,YiFlag.Dal"/>
      <register type="YiFlag.IDal.IUserService,YiFlag.IDal" mapTo="YiFlag.Dal.UserService,YiFlag.Dal"/>
    </container>
  </containers>
</unity>
</configuration>