@{
    ViewBag.Title = "添加后台用户";
}
@model IEnumerable<YiFlag.Model.SysRoles>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">@ViewBag.Title</div>
                <div class="layui-card-body" pad15>

                    <form class="layui-form" action="">

                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input name="UserName" class="layui-input" type="text" placeholder="请输入" autocomplete="off" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">用户角色</label>
                            <div class="layui-input-block">
                                <select id="RolesId" name="RolesId">
                                    <option value="0">请选择角色</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.RolesName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input name="PassWord" class="layui-input" type="text" placeholder="请输入" autocomplete="off" lay-verify="required" lay-reqtext="密码，岂能为空？">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <textarea id="Remark" name="Remark" class="layui-textarea" placeholder="请输入内容"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-filter="demo1" lay-submit="">立即提交</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        layui.config({
            base: '../../LayUI/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'set']);


        layui.use(['layer', 'form'], function () {
            var form = layui.form;

            form.on('submit(demo1)', function (data) {

                $.ajax({
                    url: '/SysAdmin/AddResult',
                    type: 'Post',
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(data.field),
                    success: function (e) {
                        if (e.code == 0) {
                            var index = parent.layer.getFrameIndex(window.name);
                            //再执行关闭
                            parent.layer.close(index);
                            //关闭父级页面的表格
                            parent.layui.table.reload('table');

                            layer.msg(e.msg);
                        } else {
                            layer.msg(e.msg);
                        }
                    },
                    error: function (e) {
                        layer.msg(e);
                    }
                });
            })

        });
    </script>
}
