
@{
    ViewBag.Title = "角色功能管理";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">@ViewBag.Title</div>
                <div class="layui-card-body" pad15>


                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-xs6">
                            <div class="grid-demo grid-demo-bg1">


                                <table class="layui-hide" id="test" lay-filter="test"></table>

                                <script type="text/html" id="toolbarDemo">
                                    <div class="layui-btn-container">
                                        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                                    </div>
                                </script>


                            </div>
                        </div>
                        <div class="layui-col-xs6">
                            <div class="grid-demo">

                                <div class="layui-btn-container">
                                    <button type="button" class="layui-btn layui-btn-sm" onclick="savaRolesAuthority()">提交权限设置</button>
                                </div>

                                <div id="test12" class="demo-tree-more"></div>


                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        layui.use(['table', 'tree', 'util'], function () {
            var table = layui.table;
            var tree = layui.tree;
            var layer = layui.layer;

            table.render({
                elem: '#test'
                , url: '/Roles/GetRoles'
                , toolbar: '#toolbarDemo'
                , cols: [[
                    { type: 'radio' }
                    , { field: 'Id', width: 80, title: 'ID', sort: true }
                    , { field: 'RolesName', width: 120, title: '角色名' }
                    , { field: 'Remark', width: 120, title: '备注' }
                    , { field: 'CreateTime', width: 160, title: '创建时间' }
                ]]
                , page: true
            });
            //基本演示
            tree.render({
                elem: '#test12'
                , data: treeGetData()
                , showCheckbox: true  //是否显示复选框
                , id: 'treeId'
                , click: function (obj) {
                    var data = obj.data;  //获取当前点击的节点数据
                    layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                }
            });

            table.on('radio(test)', function (obj) {
                $.ajax({
                    url: '/Roles/GetRolesMenue?Id=' + obj.data.Id,
                    type: 'Get',
                    dataType: 'json',
                    async: false,   //这里不能使用异步
                    contentType: "application/json",
                    success: function (res) {
                        if (res.state == 1) {
                            if (res.data.length > 0) {
                                tree.reload('treeId', {
                                    data: treeGetData()
                                });
                                tree.setChecked('treeId', res.data); //批量勾选 id 为 2、3 的节点
                            }
                        }
                        else {
                            alert("获取权限失败");
                        }
                    },
                    error: function () {

                    }
                });
            });
            //头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id); //获取选中行状态
                switch (obj.event) {
                    case 'getCheckData':
                        var data = checkStatus.data;  //获取选中行数据
                        layer.alert(JSON.stringify(data));
                        break;
                };
            });

        });
        function treeGetData() {
            var treedata = [];
            $.ajax({
                url: '/Roles/GetMenueTree',
                type: "post",
                contentType: 'application/json',
                dataType: "json",
                async: false,   //这里不能使用异步
                success: function (res) {
                    if (res.code == 1) {
                        treedata = res.data;
                        console.log(res.data);
                    }
                }
            });
            return treedata;
        }
      function savaRolesAuthority() {
                var table = layui.table;
                var checkStatus = table.checkStatus('test');
                var Id = checkStatus.data[0].Id;

                var tree = layui.tree;
                console.log(tree);
                var checkedData = tree.getChecked('treeId');
                console.log(checkedData);
                alert(JSON.stringify({ rolesId: Id, tree: checkedData }))
                $.ajax({
                    url: '/Roles/SetRolesAuthority?s=' + JSON.stringify({ tree: checkedData }) + '+&rolesId=' + Id,
                    method: 'get',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (res) {
                        if (res.state == 1) {
                            layer.alert(res.msg);
                        }
                        else {
                            layer.alert(res.msg);
                        }
                    },
                    error: function () {

                    }
                })
            };

    </script>

}