<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="NPOI" version="2.4.1" targetFramework="net452" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net452" />
  <package id="Unity" version="5.11.1" targetFramework="net452" />
  <package id="Unity.Abstractions" version="5.11.1" targetFramework="net452" />
  <package id="Unity.Configuration" version="5.11.1" targetFramework="net452" />
  <package id="Unity.Container" version="5.11.1" targetFramework="net452" />
  <package id="Unity.Interception" version="5.11.1" targetFramework="net452" />
  <package id="Unity.Interception.Configuration" version="5.11.1" targetFramework="net452" />
  <package id="Unity.RegistrationByConvention" version="5.11.1" targetFramework="net452" />
</packages>